node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/android/app/build/

# OS
.DS_Store
Thumbs.db
/.atl
# Env
.env
.env.*
!.env.example
!.env.test
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# SQLite
*.db

capacitor.config.dev.ts

# AI Agent / Editor Configs
.agents/
.gemini/
.opencode/
.qwen/
.roo/
.vscode/
/sdd


*.jks
*.keystore
skills-lock.json
